/*************************************
 * Articles
 *************************************/
.presseportal-post {
	margin-bottom: 2ex;
}

.presseportal-post .text {
}

.presseportal-post .source {
	margin-top: 2ex;
	font-weight: bold;
}

/*************************************
 * Validation
 *************************************/
label.error {
	color: #ff2222;
	padding: 0 2ex;
	font-weight: bold;
}

